@using ShopWebApp
@{ 
    Layout = "_AdminLayout";
}
<br />
<h1>Edytuj @ViewData["Name"]</h1>
<br />
@if(ViewData["table"].ToString() == "orders")
{
    @section left{ 
        <div class="sticky-top flex-column" style="top: 65px">
            <ul class="list-group">
                <li class="list-group-item disabled">Status zamówienia</li>
                @for (int i = 0; i <= 5; i++)
                {
                    <li class="list-group-item">@i - @Functions.Status(i)</li>
                }
            </ul>
        </div>
    }
}

<form class="form-group" action="/admin/@ViewData["table"]/@ViewData["Id"]/edit" method="post">
    @foreach (KeyValuePair<string, string> kvp in ViewBag.values)
    {
        <label for="@kvp.Key">@kvp.Key</label>
        @if (kvp.Key.ToLower().Contains("long"))
        {
            <textarea class="form-control" name="@kvp.Key" rows="5">@kvp.Value</textarea>
        }
        else if (kvp.Key == "CategoryId")
        {
            <div class="form-group">
                <select class="form-control" name="@kvp.Key">
                    @using (var db = new ShopDatabase())
                    {
                        foreach (Category category in db.Categories)
                        {
                            <option value="@category.CategoryId" @if (kvp.Value == category.CategoryId.ToString()) { @: selected
                                      }>
                                @category.Name
                                </option>
                            }
                        }
                </select>
            </div>
        }
        else if (kvp.Key == "SubcategoryId")
        {
            <div class="form-group">
                <select class="form-control" name="@kvp.Key">
                    @using (var db = new ShopDatabase())
                    {
                        foreach (Subcategory subcategory in db.Subcategories)
                        {
                            <option value="@subcategory.SubcategoryId" @if (kvp.Value == subcategory.SubcategoryId.ToString()) { @: selected
                                      }>
                                @subcategory.Name
                            </option>
                            }
                        }
                </select>
            </div>
        }
        else
        {
            <input type="text" name="@kvp.Key" value="@kvp.Value" class="form-control" />
        }
    }
    <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 7px">Zapisz zmiany</button>
</form>