@using ShopWebApp
@{ 
    Layout = "_AdminLayout";
}
<br />
<h1>Edytuj @ViewData["Name"]</h1>
<br />

<form class="form-group" action="/admin/@ViewData["table"]/@ViewData["Id"]/edit" method="post">
    @foreach (KeyValuePair<string, string> kvp in ViewBag.values)
    {
        <label for="@kvp.Key">@kvp.Key</label>
        @if (!kvp.Key.ToLower().Contains("long"))
        {
            <input type="text" name="@kvp.Key" value="@kvp.Value" class="form-control" />
        }
        else
        {
            <textarea class="form-control" name="@kvp.Key" rows="5">@kvp.Value</textarea>
        }
    }
    <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 7px">Zapisz zmiany</button>
</form>