@using ShopWebApp
@model BaseViewModel
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Sklep</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav justify-content-right">
                <li class="nav-item mr-1">
                    <a class="nav-link text-light" href="@Url.Action("login", "account")">Zaloguj się</a>
                </li>
                <li class="nav-item mr-1">
                    <a class="nav-link text-light" href="#">Koszyk</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                @RenderSection("left", false)
            </div>
            <div class="col-sm-8">
                @RenderBody()
            </div>
            <div class="col-sm-2">
                @RenderSection("right", false)
            </div>
        </div>
    </div>

   


    <div style="margin-top:50px"></div>
    <div class="navbar fixed-bottom bg-dark navbar-dark text-light" style="margin-top:10px">
        Sklep &copy 2021
    </div>


</body>
</html>