@model ShopWebApp.AccountModel
@{
    Layout = "_Layout";
}
<br />
<h2 style="text-align:center">Zaloguj się</h2>
<br />
@if (Model.Message != null && Model.Message != string.Empty)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form asp-controller="Account" asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="email" asp-for="@Model.Login">Adres email</label>
        <input type="email" class="form-control" id="email" asp-for="@Model.Login" name="Login">
    </div>
    <div class="form-group">
        <label for="password" asp-for="@Model.Password">Hasło</label>
        <input type="password" class="form-control" id="password" asp-for="@Model.Password" name="Password">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" asp-for="@Model.RememberMe" name="RememberMe" value="true">
        <label class="form-check-label" for="rememberMe" asp-for="@Model.RememberMe">Zapamiętaj mnie</label>
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-lg btn-block">Zaloguj się</button>
</form>
<a href="@Url.Action("register", "account")" class="btn btn-outline-primary btn-lg btn-block" style="margin-top: 7px">Nie masz konta? Zarejestruj się</a>