@using ShopWebApp

@{
    Layout = "_Layout";
    Product product = ViewBag.Product;
    double price = product.Price / 100.0, oldPrice = product.OldPrice / 100.0, discount = oldPrice == 0 ? 0 :  Math.Round((oldPrice - price)/oldPrice, 2)*100;
    double rate = -1;
    int stars = 0, halfStars = 0;
    if (product.RatingVotes > 0)
    {
        rate = Math.Round(product.RatingSum / (double)product.RatingVotes, 2);
        halfStars = Convert.ToInt32(rate / 0.5);
        double rest = rate - halfStars * 0.5;
        if (rest >= 0.5)
            halfStars++;
        stars = halfStars / 2;
        if (halfStars % 2 == 1)
            halfStars = 1;
        else
            halfStars = 0;
    }
    string[] photos = { };
    if(product.OtherPhotos != "" && product.OtherPhotos != null)
        photos = product.OtherPhotos.Split(';');
}

@section top{
    <div class="jumbotron jumbotron-fluid" style="margin-top: 5vh; margin-bottom: -30px">
        <h1 class="text-center display-4 align-bottom">@product.Brand @product.Name</h1>
    </div>
}

@section modal {
    <div class="modal fade" id="staticBackdrop" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Koszyk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Dodano nowy produkt do koszyka</h4>
                    @product.Brand @product.Name
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-outline-success" data-dismiss="modal">Kontynuuj zakupy</button>
                    <a href="" class="btn btn-block btn-success">Koszyk</a>
                </div>
            </div>
        </div>
    </div>
}
    <div class="row d-flex">
        <div class="col-xl-5">
            @if (photos.Length < 1)
            {
            <img class="img-fluid" src="/images/@product.Photo" alt="@product.Code" />
            }
            else
            {
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i <= photos.Length; i++)
                    {
                        <li data-target="#carousel" data-slide-to="@i"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/images/@product.Photo" alt="@product.Photo">
                    </div>
                    @foreach (string photo in photos)
                    {
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/@photo" alt="@photo">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Poprzedni</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Następny</span>
                </a>
            </div>
            }
        </div>
        <div class="col-xl-7">
            <table class="table h5">
                <tbody>
                    <tr>
                        <td class="text-secondary">Produkt</td>
                        <th>@product.Name</th>
                    </tr>
                    <tr>
                        <td class="text-secondary">Producent</td>
                        <th>@product.Brand</th>
                    </tr>
                    <tr>
                        <td class="text-secondary">Cena</td>
                        <th>@price zł
                        @if (product.OldPrice > product.Price)
                        {
                            <span class="ml-2" style="color: orangered; text-decoration: line-through; text-decoration-color: darkred">@oldPrice zł</span><br /><span style="color: forestgreen">- @discount%</span>
                        }
                        </th>
                    </tr>
                    <tr>
                        <td class="text-secondary">Dostępność</td>
                        @if (product.Stock == 0)
                        {
                            <th class="text-danger">Niedostępny</th>
                        }
                        else if (product.Stock > 0)
                        {
                            <th>@product.Stock szt.</th>
                        }
                        else
                        {
                            <th>W magazynie</th>
                        }
                    </tr>
                    <tr>
                        <td class="text-secondary">Ocena</td>
                        @if (rate == -1)
                        {
                            <td>Brak opinii</td>
                        }
                        else
                        {
                            <td class="text-warning">
                                @for (int i = 0; i < stars; i++)
                                {
                                    @:<i class="bi-star-fill"></i>
                                }
                                @if (halfStars == 1)
                                {
                                    @:<i class="bi-star-half"></i>
                                }
                                @for (int i = stars + halfStars; i < 5; i++)
                                {
                                    @:<i class="bi-star"></i>
                                }
                                (@product.RatingVotes)
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
@if (product.Stock != 0)
{
    <a href="#" class="btn btn-success btn-lg btn-block h4" data-toggle="modal" data-target="#staticBackdrop">Dodaj do koszyka <i class="bi-cart-plus-fill"></i></a>
}
else
{
    <a href="" class="btn btn-warning btn-lg btn-block" style="pointer-events: none;">Produkt tymczasowo niedostępny <i class=" bi-exclamation-triangle"></i></a>
}
<br />
<div>
    @Html.Raw(product.LongAbout)
</div>